.event {
    position: relative;
    margin-bottom: 2rem;
    padding-left: 50%;

    &--home {
        padding-right: 50%;
        padding-left: 0;
    }

    &__time {
        z-index: 1000;
        padding: 0.5rem 0;
        position: absolute;
        width: 6rem;
        overflow: hidden;
        color: #888;
        text-align: center;
        background: white;
        left: -6rem;
        top: -0.5rem;
    }

    &__icon {
        display: none;
    }

    &__panel {
        position: relative;
        top: -0.375rem;
        text-align: left;
        margin-left: 3rem;
    }

    &__aux {
        color: #888;
    }

    &__notes {
        font-style: italic;
        font-size: 90%;
        color: #888;
    }

    &--flow {
        text-align: center;
        color: #888;
        background: white;
        margin-left: 0;
        padding: 0.5rem;
        margin-bottom: 2rem;
    }

    &--home &__panel {
        text-align: right;
        margin-left: 0;
        margin-right: 3rem;
    }

    &--home &__time {
        left: auto;
        right: -6rem;
    }
}

.timeline {
    padding: 2em 0;
    position: relative;
    list-style: none;
    border: none;

    &__item {
        padding: 0;
        border: none;
    }

    &__item:last-child .event {
        margin-bottom: 0;
    }

    &::before {
        position: absolute;
        content: '';
        display: block;
        width: 2px;
        background: #eee;
        left: 50%;
        top: 2em;
        bottom: 2em;
        margin-left: -1px;

    }
}

.fixturehdr {
    position: relative;

    &::before {
        content: ' ';
    }

    small {
        font-size: inherit;
        color: #8f8f8f;
    }

    &__home, &__away {
        width: 50%;
        position: absolute;
        top: 0;
    }
    &__home {
        left: 0;
    }
    &__away {
        right: 0;
        text-align: right;
    }
    &__scores {
        position: absolute;
        width: 8rem;
        left: 50%;
        margin-left: -4rem;
        text-align: center;
    }
}
